<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }} - Marc's Blog</title>
   <meta name="author" content="Marc Brooker" />

   <!-- Homepage CSS -->
   <link rel="stylesheet" href="/blog/css/screen.css" type="text/css" media="screen, projection" />

</head>
<body>

<div class="site">
  <div class="title">
    <h1><a href="/blog/">Marc's Blog</a></h1>
  </div>

  <div class="about">
    <h1>About Me</h1>
    My name is Marc Brooker. I've been writing code, reading code, and living vicariously through computers for as long as I can remember. I like to build things that work. I also dabble in brewing, cooking and skiing.<br/><br/>

    I'm currently an engineer at Amazon Web Services (AWS) in Seattle, where I lead engineering on <a href="http://aws.amazon.com/lambda/">AWS Lambda</a> and our other serverless products. Before that, I worked on EC2 and EBS.<br/>

All opinions are my own.
    <h1>Links</h1>
    <a href="https://brooker.co.za/blog/publications.html">My Publications and Videos</a><br/>
    <a href="https://twitter.com/MarcJBrooker">@MarcJBrooker on Twitter</a>
  </div>

  
  {{ content }}
  
  <div class="footer">
    <div class="contact">
      <p>
        Marc Brooker<br />
        The opinions on this site are my own. They do not necessarily represent those of my employer.<br />
        marcbrooker@gmail.com
      </p>
      <p>
	<a href="http://brooker.co.za/blog/rss.xml"><img src="/blog/images/feed-icon-14x14.png" /> RSS</a>
	<a href="http://brooker.co.za/blog/atom.xml"><img src="/blog/images/feed-icon-14x14.png" /> Atom</a>
      </p>
    </div>
    <div class="license">
      <a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/88x31.png" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>.
    </div>
  </div>
</div>

</body>
</html>
