---
layout: default
---
<div id="post">
{{ content }}
</div>

<div id="related">
  <h2>Other Posts</h2>
  &laquo; <a href="/blog">Back to the blog index</a><br>
  <ul class="posts">
    {% if page.related_posts %}
      {% for related_url in page.related_posts %}
        {% for post in site.posts %}
          {% if post.url == related_url %}
            <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="/blog{{ post.url }}">{{ post.title }}</a></li>
            {% break %}
          {% endif %}
        {% endfor %}
      {% endfor %}
    {% else %}
      {% for post in site.related_posts limit:3 %}
        <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="/blog{{ post.url }}">{{ post.title }}</a></li>
      {% endfor %}
    {% endif %}
  </ul>
</div>
