---
layout: default
---
<div id="post">
{{ content }}
</div>

<div id="related">
  <br><br>
  &laquo; <a href="{{ site.baseurl }}">Back to the blog index</a><br>
  
  <!-- Similar Posts -->
  <h4>Similar Posts</h4>
  <ul class="posts">
    {% if page.related_posts and page.related_posts.size > 0 %}
      {% for related_url in page.related_posts %}
        {% assign related_url_clean = related_url | strip %}
        {% assign found_match = false %}
        {% for post in site.posts %}
          {% assign post_url_clean = post.url | strip %}
          {% if post_url_clean == related_url_clean %}
            <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
            {% assign found_match = true %}
            {% break %}
          {% endif %}
        {% endfor %}
        {% unless found_match %}
          <!-- Debug: show what we were looking for -->
          <!-- Looking for: "{{ related_url_clean }}" -->
        {% endunless %}
      {% endfor %}
    {% else %}
      {% for post in site.related_posts limit:3 %}
        <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
      {% endfor %}
    {% endif %}
  </ul>
  
  <!-- Dissimilar Posts -->
  {% if page.dissimilar_posts and page.dissimilar_posts.size > 0 %}
  <h4>Something Completely Different</h4>
  <ul class="posts">
    {% for dissimilar_url in page.dissimilar_posts %}
      {% assign dissimilar_url_clean = dissimilar_url | strip %}
      {% assign found_match = false %}
      {% for post in site.posts %}
        {% assign post_url_clean = post.url | strip %}
        {% if post_url_clean == dissimilar_url_clean %}
          <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
          {% assign found_match = true %}
          {% break %}
        {% endif %}
      {% endfor %}
      {% unless found_match %}
        <!-- Debug: show what we were looking for -->
        <!-- Looking for: "{{ dissimilar_url_clean }}" -->
      {% endunless %}
    {% endfor %}
  </ul>
  {% endif %}
</div>
